<widget id="com.example.hello" version="cinquenta cinquenta">
        <name>nigga game</name>
        <description>
            Ela e dangah
        </description>
        <author email="dev@callback.apache.org" href="http://cordova.io">
            Zauce
        </author>
        <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" />
        <preference name="Orientation" value="landscape" />
    </ widget >
