<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.Mapeio.hot"
    versionCode = "9"
    version     = "9" >

<!-- versionCode is optional and Android only -->

  <name>Mapeio</name>

  <description>
      Welcome to Nomety.
  </description>

  <author href="https://redirectz.cf" email="eunaoseinfante@gmail.com">
      Rick Astley bruh ZauZe
  </author>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />

</widget>
